<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data de Cadastro</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Produto A</td>
        <td>Descrição A</td>
        <td>R$ 100,00</td>
        <td>01/01/2022</td>
        <td>10</td>
        <td><button class="btn btn-danger">Excluir</button></td>
        <td><button class="btn btn-info">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
